
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
<div  class="navbar navbar-inverse navbar-fixed-top"> 
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <h1><a href="#">Library Management Web</a></h1>
                    <p>Design by <a href="http://templated.co" rel="nofollow">Group Zô</a></p>
                </div>
                <div id="social">
                    <ul class="contact">
                        <li><a href="https://twitter.com/explore" class="icon icon-twitter" target="_blank"><span>Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/thinhcuu1911" class="icon icon-facebook" target="_blank"><span>FaceBook</span></a></li>
                        <li><a href="https://mail.google.com/mail/u/0/#inbox" class="icon icon-google-plus" target="_blank"><span>Gmail</span></a></li>
                        <li><a href="https://github.com/thangzjm99/Quan-Ly-Thu-Vien" class="icon icon-github" target="_blank"><span>GitHub</span></a></li>
                        <li><a href="https://www.youtube.com/" class="icon icon-youtube" target="_blank"><span>Youtube</span></a></li>
                    </ul>
                </div>
            </div>
            <div id="menu" class="container">
                <ul>
                    <li class="current_page_item"><a href="~/Home/Index" accesskey="1" title="">Homepage</a></li>
                    <li><a href="~/Books/Index" accesskey="1" title="">Our Books</a></li>
                    <li><a href="~/Docgia/Index" accesskey="2" title="">Our Readers</a></li>
                    <li><a href="~/Muonsach/Index" accesskey="3" title="">Book Borrows</a></li>
                    <li><a href="~/Trasach/Index" accesskey="4" title="">Book Returns</a></li>
                    <li><a href="~/Home/Contact" accesskey="5" title="">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <div class="container body-content">
        @RenderBody();

    </div>
</body>
</html>
