@{
    ViewBag.Title = "Thông tin liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Phòng 201 , tòa H9 Học viện kỹ thuật quân sự <br />
     Hà Nội<br />
    <abbr title="Số điện thoại">P:</abbr>
    0911414855
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">abbabc2@gmail.com</a><br />
    <strong>Facebook/Youtube/Instagram</strong> <a href="mailto:Marketing@example.com">Thịnh Nguyễn</a>
</address>