
@{
    ViewBag.Title = "Guide";
}
<head>
    <h2>Guide to use</h2>
    <h1>Hướng dẫn sử dụng</h1>
</head>
<body>
    <h3>
        <p>Giao diện chính làm việc </p>
        <img src="~/Image/Screenshot (584).png" width="1200" /> <br />
        <p>Để truy cập vào dòng sách,độc giả,danh sách mượn-trả sách,vui lòng chọn trên menu</p><br />
        <img src="~/Image/Screenshot (584)_LI.jpg" width="1200" /> <br/>
        <p>Giao diện danh mục dòng sách</p><br />
        <img src="~/Image/Screenshot (585).png" width="1200" /> <br/>
        <p>Để tìm sách và các thông tin khác vui lòng điền từ khóa cần tìm </p><br />
        <img src="~/Image/Screenshot (586)_LI.jpg" width="1200" /> <br/>
        <p>Để sửa,xem chi tiết hoặc xóa,vui lòng chọn ở phía bên phải cuối mỗi dòng sách</p><br />
        <img src="~/Image/Screenshot (587)_LI.jpg" width="1200" /> <br/>
        <p>Giao diện sửa lại dòng sách</p><br />
        <img src="~/Image/Screenshot (587).png" width="1200" /> <br/>
        <p>Giao diện chi tiết dòng sách</p><br />
        <img src="~/Image/Screenshot (588).png" width="1200" /> <br/>
        <p>Giao diện xóa dòng sách,ấn nút delete ở cuối nếu muốn xóa hoặc back to list nếu hủy</p><br />
        <img src="~/Image/Screenshot (589).png" width="1200" /> <br/>
        <p>Tương tự với các giao diện độc giả,mượn-trả sách</p><br />
        <img src="~/Image/Screenshot (590).png" width="1200" /> <br/>
        <p></p><br />
        <img src="~/Image/Screenshot (591).png" width="1200" /> <br/>
        <p></p><br />
        <img src="~/Image/Screenshot (592).png" width="1200" /> <br/>
    </h3>
</body>
