@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trang chủ</h1>
    <p class="lead">MTA Library Management Application</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Tìm hiểu &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Dòng Sách</h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/Books/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Độc giả</h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/Docgia/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Mượn sách</h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/Muonsach/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Trả sách</h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/Trasach/Index">Go &raquo;</a></p>
    </div>
</div>