<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
@{
    Layout = null;
}
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Low-Down
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131117

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Library Management</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round" rel="stylesheet" />
    <link href="~/Content/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if IE 6]>
    <link href="default_ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="#">Library Management Web</a></h1>
                    <p>Design by <a href="https://www.facebook.com/thinhcuu1911 " target="_blank" rel="nofollow">Group Zô</a></p>
                </div>
                <div id="social">
                    <ul class="contact">
                        <li><a href="https://twitter.com/explore" class="icon icon-twitter" target="_blank"><span>Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/thinhcuu1911" class="icon icon-facebook" target="_blank"><span>FaceBook</span></a></li>
                        <li><a href="https://mail.google.com/mail/u/0/#inbox" class="icon icon-google-plus" target="_blank"><span>Gmail</span></a></li>
                        <li><a href="https://github.com/thangzjm99/Quan-Ly-Thu-Vien" class="icon icon-github" target="_blank"><span>GitHub</span></a></li>
                        <li><a href="https://www.youtube.com/" class="icon icon-youtube" target="_blank"><span>Youtube</span></a></li>
                    </ul>
                </div>
            </div>
            <div id="menu" class="container">
                <ul>
                    <li class="current_page_item"><a href="~/Home/Index" accesskey="0" title="">Homepage</a></li>
                    <li><a href="~/Books/Index" accesskey="1" title="">Our Books</a></li>
                    <li><a href="~/Docgia/Index" accesskey="2" title="">Our Readers</a></li>
                    <li><a href="~/Muonsach/Index" accesskey="3" title="">Book Borrows</a></li>
                    <li><a href="~/Trasach/Index" accesskey="4" title="">Book Returns</a></li>
                    <li><a href="~/Home/Contact" accesskey="5" title="">Contact Us</a></li>-
                </ul>
            </div>
        </div>
        <div id="portfolio-wrapper">
            <div id="portfolio" class="container">
                <div class="title">
                    <h2>Các thống kê có sẵn </h2>
                    <span class="byline">Được thống kê bởi hàng giờ không cần thiết ngồi gõ SQL </span>
                </div>
                <div class="column1">
                    <div class="box">
                        <span class="icon icon-book"></span>
                        <h3>Dòng sách của chúng tôi</h3>
                        <p>Với các quyển sách được áp dụng vào trong chương trình học và các cuốn tiểu thuyết chưa bao giờ được viết ra</p>
                        <a href="~/Books/Index" class="button">Dòng sách >></a>
                    </div>
                </div>
                <div class="column2">
                    <div class="box">
                        <span class="icon icon-headphones"></span>
                        <h3>Dòng độc giả </h3>
                        <p>Với những tên thật của một số người và một số cái tên đã được bịa ra để phục vụ chả cho mục đích nào cả </p>
                        <a href="~/Docgia/Index" class="button">Độc giả >></a>
                    </div>
                </div>
                <div class="column3">
                    <div class="box">
                        <span class="icon icon-share"></span>
                        <h3>Dòng mượn sách</h3>
                        <p>Nhắm giúp cho quản lý thư viện có danh sách người mượn sách thư viện nhắm mục đích dễ dàng quản lý </p>
                        <a href="~/Muonsach/Index" class="button">Danh sách mượn >></a>
                    </div>
                </div>
                <div class="column4">
                    <div class="box">
                        <span class="icon icon-signout"></span>
                        <h3>Dòng trả sách </h3>
                        <p>Giúp việc quản lý thư viện trở nên thuận tiện hơn và chỉ việc so sanh với Dòng mượn sách</p>
                        <a href="~/Trasach/Index" class="button">Danh sách trả >></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="page" class="container">
            <div class="column1">
                <div class="title">
                    <h2>Bạn cần biết ?</h2>
                    <span class="byline">Một số lưu ý nhỏ :</span>
                </div>
                <p>Đây là  <strong>Trang web Quản lí Thư Viện</strong>, được thiết kế bởi <a href="https://www.facebook.com/thinhcuu1911" target="_blank">Group Zô</a>- đội ngữ sinh viên lớp CNTT116A <a href="http://mta.edu.vn/" target="_blank">Học Viện Kỹ thuật Quân Sự</a>. Vậy nếu bạn là người mới đối với chúng tôi , hãy đọc kĩ hướng dẫn sử dụng này để biết thêm thông tin cần thiết về trang web của chúng tôi </p>
                <a href="~/Home/Guide" class="button">Tìm Hiểu</a>
            </div>
            <div class="column3">
                <div class="title">
                    <h2>Gặp khó khăn ?</h2>
                </div>
                <img src="~/Content/58d2c1fcf2d0331b008b497c.jpg" width="230" height="150" alt="" />
                <p>Hãy liên hệ qua facebook của chúng <br />tôi . Luôn sẵn sàng 24/7</p>
                <a href="https://www.facebook.com/thinhcuu1911 " target="_blank" class="button">Liên hệ ngay</a>
            </div>
            <div class="column4">
                <div class="title">
                    <h2>Địa chỉ liên hệ</h2>
                </div>
                <img src="~/Content/images/pic02.jpg" width="230" height="150" alt="" />
                <p>236 Hoàng Quốc Việt, Cổ Nhuế,<br /> Bắc Từ Liêm, Hà Nội 100000</p>
                <a href="https://www.google.com/search?q=d%C4%91i%CC%A3a+chi%CC%89+hvktqs&rlz=1C1SQJL_viVN777VN777&oq=d%C4%91i%CC%A3a+chi%CC%89+hvktqs&aqs=chrome..69i57j33.8063j0j7&sourceid=chrome&ie=UTF-8" target="_blank" class="button">Đến ngay</a>
            </div>
        </div>

    </div>
    <div id="footer">
        <p>&copy; Untitled. All rights reserved. Design by <a href="https://www.facebook.com/thinhcuu1911" rel="nofollow">Group Zô</a>. Photos by <a href="http://fotogrph.com/">1 thợ ảnh nào đó</a>.</p>
    </div>
</body>
</html>
